<div class="row">
  <div class="col-lg-7">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Medico: Nombre medico</h4>
            <h6 class="card-subtitle">Nombre del medico</h6>
            <form ngNativeValidate #f="ngForm" (ngSubmit)="guardarMedico(f)"  class="form p-t-20">
                <div class="form-group">
                    <label for="exampleInputuname">User Name</label>
                    <div class="input-group">
                        <div class="input-group-addon"><i class="ti-user"></i></div>
                        <input [(ngModel)]="medico.nombre" name="nombre" type="text" required class="form-control" id="exampleInputuname" placeholder="Username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Hospital</label>
                    <select [(ngModel)]="medico.hospital"  class="form-control" name="hospital" id="" required>
                      <option value="">Seleccione hospital</option>
                      <option *ngFor="let hospital of hospitales" [value]="hospital._id">
                        {{hospital.nombre}}
                      </option>
                    </select>
                </div>
                <button  type="submit" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Guardar</button>
            </form>
        </div>
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card">
        <div class="card-body">
            <div style="text-align: center">
              <h4 class="card-title">Fotografia del Medico</h4>
              <h6 class="card-subtitle">nombre del medico</h6>
              <img style="height: 240px;"  alt="">
            </div>
            <br>         
            <input name="achivo"  (change)="seleccionImagen($event.target.files[0])" type="file">
            <br>
            <br> 
            <button type="button" (click)="cambiarImagen()" [disabled]="!imagenSubir" class="btn btn-block btn-success waves-effect waves-light m-r-10"><i class="fa fa-save"></i> Actualizar foto</button>
        </div>
    </div> 
  </div>   

</div>