<div class="card card-body">
  <h3 class="box-title m-b-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creacion y Listado de Tipos de Mantenimiento</font></font></h3>
  <div class="row">
      <div class="col-sm-6 col-xs-12">
          <form [formGroup]="form" #tipomttoform="ngForm" (ngSubmit)="crearTipoMtto(form, tipomttoform)">
              <div class="form-group">
                  <label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo de Mantenimiento</font></font></label>
                  <br>
                  <input type="text" class="form-control" name="nombre" formControlName="nombre" id="exampleInputEmail1" placeholder="">
              </div>
              <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Crear</font></font></button>
              <button type="submit" class="btn btn-inverse waves-effect waves-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
          </form>
      </div>
  </div>
</div>
<br>
<br>
<br>
<div class="row">
  <div  class="col-sm-6 col-xs-12">
    
    <table class="table table-hover">
      <thead>
       
        <th>Tipo Mtto</th>
        <th>Editar</th>
      </thead>
      <tbody>
        <tr *ngFor="let tipo of tipoMttoLista">
         
          <td>{{tipo.nombre}}</td>
          <td><button  type="button" class="btn btn-warning"><i class="fa fa-edit "></i></button></td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>