<div class="container">
  <div class="row espacios">
      <div class="col-lg-6 col-md-6 col-sx-12 ">
        <button type="button" [routerLink]="['/informes']" class="btn btn-info  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-chart-pie fa-4x fa-lg"></i>&nbsp;<i class="fas fa-chart-line fa-4x fa-lg"></i>
          <br><br> Informes
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12">
        <button type="button" [routerLink]="['/historia']" class="btn btn-success  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-atom fa-4x fa-lg"></i>
          <br><br> Historia
        </button>
      </div>


  </div> 
</div>