<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="row page-titles">
        <div class="col-md-5 align-self-center">
            <h3 class="text-themecolor"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cotizacion</font></font></h3>
        </div>
        <div>
            <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div class="row">
            <div class="col-md-12">
                <div class="card card-body printableArea">
                    <h3><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">COTIZACION </font></font></b> <span class="pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"># 5669626</font></font></span></h3>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-left">
                                <address>
                                    <h3> &nbsp;<b class="text-danger"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">CDI S.A</font></font></b></h3>
                                    <p class="text-muted m-l-5"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">800.241.849-1
                                         </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bella vista Cra 56b No 7a-45,
                                         </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefono:  (+57)651 70 77</font></font></p>
                                </address>
                            </div>
                            <div class="pull-right text-right">
                                <address>
                                    <h3><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">To,</font></font></h3>
                                    <h4 class="font-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{nombreCliente}}</font></font></h4>
                                    <p class="text-muted m-l-30"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{nitCliente}}
                                         </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{direccionCliente}}
                                         </font></font><br><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Telefono: {{telefonoCliente}}
                                         </font></font><br>
                                    <p class="m-t-30"><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha :</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> {{fecha | date : 'dd-MM-yyyy'}}</font></font></p>
                                    <p><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Fecha de vencimiento :</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Valido 5 dias</font></font></p>
                                </address>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="table-responsive m-t-40" style="clear: both;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">#</font></font></th>
                                            <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Equipo</font></font></th>
                                            <th class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cantidad</font></font></th>
                                            <th class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Costo Un</font></font></th>
                                            <th class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Total</font></font></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of items; let i = index">
                                            <td class="text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{i}}</font></font></td>
                                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.tipoitem}}-{{item.tiposello}}-({{item.diametro}})
                                                -{{item.material}}- Mto: {{item.tipomtto}}-Prioridad:{{item.prioridad}}-Deficult:({{item.dificultad}})</font></font></td>
                                            <td class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.cantidad}}</font></font></td>
                                            <td class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.valor/1000 | currency:'USD':true:'1.2-3'}}</font></font></td>
                                            <td class="text-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{item.valor*item.cantidad/1000 | currency:'USD':true:'1.2-3'}}</font></font></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="pull-right m-t-30 text-right">
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sub - Total: {{subtotal /1000 | currency:'USD':true:'1.0-3'}}</font></font></p>
                                <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">IVA (19%): {{iva / 1000 | currency:'USD':true:'1.0-3'}}</font></font></p>
                                <hr>
                                <h3><b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Total:</font></font></b><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">{{datosTotalValor / 1000 | currency:'USD':true:'1.0-3'}}</font></font></h3>
                            </div>
                            <div class="clearfix"></div>
                            <hr>
                            <div class="text-right">
                                <button class="btn btn-danger" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Proceder al pago </font></font></button>
                                <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Impresión</font></font></span> </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Right sidebar -->
        <!-- ============================================================== -->
        <!-- .right-sidebar -->
        <div class="right-sidebar ps ps--theme_default" data-ps-id="25a14962-27f2-6fa3-67b5-17732597c876">
            <div class="slimscrollright">
                <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                <div class="r-panel-body">
                    <ul id="themecolors" class="m-t-20">
                        <li><b>With Light sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                        <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                        <li><a href="javascript:void(0)" data-theme="red" class="red-theme">3</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                        <li class="d-block m-t-30"><b>With Dark sidebar</b></li>
                        <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme working">7</a></li>
                        <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                        <li><a href="javascript:void(0)" data-theme="red-dark" class="red-dark-theme">9</a></li>
                        <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                        <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                        <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme ">12</a></li>
                    </ul>
                    <ul class="m-t-20 chatonline">
                        <li><b>Chat option</b></li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/1.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/2.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/3.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/4.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/5.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/6.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/7.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                        </li>
                        <li>
                            <a href="javascript:void(0)"><img src="../assets/images/users/8.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                        </li>
                    </ul>
                </div>
            </div>
        <div class="ps__scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps__scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps__scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        <!-- ============================================================== -->
        <!-- End Right sidebar -->
        <!-- ============================================================== -->
    </div>
