	<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="card centrado">
        <h2>Haga Click en el Informe de su Preferencia</h2>
        <div class="row">
          <div class="col-md-6 col-sm-12 col-xs-12 ">
             <div class="card menu">
                <div class="card-body">
                    <div style="display: block" class="centrado">
                      <h4>Informe de Dona</h4>
                        <canvas [routerLink]="['/clientedona', cliente]"  (click)="redireccionar()" baseChart
                                [data]="doughnutChartData"
                                [labels]="doughnutChartLabels"
                                [chartType]="doughnutChartType">
                        </canvas>
                    </div>
                </div>
             </div>
          </div>
          <div class="col-md-6 col-sm-12 col-xs-12 ">
            <div class="card menu">
              <div class="card-body centrado">
                  <h4>Informe de Lineas</h4>
                  <canvas baseChart [routerLink]="['/clientelinea', cliente]"
                          [data]="lineChartData"
                          [labels]="lineChartLabels"
                          [options]="lineChartOptions"
                          [chartType]="lineChartType"
                          (chartHover)="chartHovered($event)"
                          (chartClick)="chartClicked($event)">
                  </canvas>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-sm-12 col-xs-12" >
            <div class="card menu">
              <button class="btn btn-primary" [routerLink]="['/clientelineadona', cliente]" >
                Ambos
              </button>
            </div>
          </div>
            


              
           
            
        </div>
      </div>
    </div>
  </div>