.enlinea{
    display: inline-block;
}
.fuente{
    
    font-size: 0.7vw;
}
.circuloCreada{
    
    background:#01B3D6 !important;
}
.circuloRechazada{
    background:#E33F1B   !important;
}
.circuloAceptada{
    background: #24E31B   !important;
}
.centrado{
    text-align: center !important;
}