.tipovalvulacolor{
    color: #CB4335 !important;
    text-align:center !important;
}
.espaciado{
    margin:1vw !important;
}
.centro{
    text-align:center;
}
.generaltitle{
    color:#1666BB !important;
}
.generalcontent{
    color:#D80128 !important;
}