<div class="content">
    <div class="solicitudes row">
      <div class="col-md-12">
        <div class="panel panel-info">
          <div class="panel-heading solicitud-title"></div>
          <div class="panel-body btnCrearSol">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                    <div class="card-body" style="text-align: center">
                      <form ngNativeValidate [formGroup]="form" #actividadesf="ngForm"  text-align="center"  (ngSubmit)="insertarActividades(form, actividadesf)">           
                          <h2 class="tipovalvulacolor">{{tipoValvula}}</h2>
                          <div class="row">
                              <div class="col-sm-8 col-xs-8">
                                <div class="form-group">
                                  <label for="">Nombre de la Actividad</label>
                                  <input type="text" name="nombre" formControlName="nombre" class="form-control" required>
                                </div>
                              </div>
                              <div class="col-sm-4 col-xs-4">
                                <div class="form-group">
                                  <label for="">Tipo de Actividad</label>
                                  <select class="custom-select custom-select-lg mb-3"  name="tipo" formControlName="tipo" class="form-control"   required>                                                
                                    <option value="Basico">Basica</option>
                                    <option value="General">General</option>
                                  </select>
                                </div>
                              </div>
                          </div>
                          <input class="btn btn-success" type="submit"   name="" id="" value="Crear">
                      </form>  
                    </div>
                  </div>
                </div>
              </div>                
          </div>
        </div>
      </div>
      <div class="col-md-6" style="text-align:center">
        <br>
        <h2>Actividades Basicas</h2>
        <table class="table table-hover table-responsive">      
          <thead>
            <tr style="text-align:center">
              <th style="text-align:center">#</th>    
              <th style="text-align:center">Nombre de la Actividad</th> 
              <th style="text-align:center">Editar</th>  
            </tr>
          </thead>
          <tbody>     
            <tr *ngFor="let basica of actividadesBasicas; let i = index">
              <td style="text-align:center">{{i}}</td>
              <td style="text-align:left">{{basica.nombre}}</td>
              <td style="text-align:center">
                <button  type="button"  class="btn btn-warning" (click)="capturaDatos(basica)" data-toggle="modal" data-target=".bd-edit-modal-lg"><i class="fa fa-edit "></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-6" style="text-align:center">
          <br>
          <h2 class="generaltitle">Actividades Generales</h2>
          <table class="table table-hover table-responsive">
            <thead>
              <tr style="text-align:center">
                <th class="generaltitle" style="text-align:center">#</th>    
                <th class="generaltitle" style="text-align:center">Nombre de la Actividad</th> 
                <th class="generaltitle" style="text-align:center">Editar</th>  
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let general of actividadesGenerales; let i = index">
                <td class="generalcontent" style="text-align:center"><strong>{{i}}</strong></td>
                <td class="generalcontent" style="text-align:left">{{general.nombre}}</td>
                <td class="generalcontent" style="text-align:center">
                  <button  type="button"  class="btn btn-primary" (click)="capturaDatos(general)" data-toggle="modal" data-target=".bd-edit-modal-lg"><i class="fa fa-edit "></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
  </div>
  <div class="modal fade bd-edit-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <h2 class="tipovalvulacolor">Editor de Actividades</h2>
        <div>
          	<div class="row espaciado">
              <div class="col-12">
                <div class="card">
                  <div class="card-body espaciado centro">
                    <label  >Nombre de la Actividad</label>
                    <input type="text" name="nombre" [(ngModel)]="nombreEditar" class="form-control" >
                    <br>
                    <br>
                    <br>
                    <div class="centro">
                      <button  type="button"  class="btn btn-success centro"  data-toggle="modal" data-target=".bd-edit-modal-lg">Editar</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  