<div class="card card-body">
  <h3 class="box-title m-b-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creando el formulario de las solicitudes</font></font></h3>
 
  <div class="row">
      <div class="col-sm-12 col-xs-12">
          <form [formGroup]="form" #itemSolicitudes="ngForm" (ngSubmit)="InsertarItem(form, itemSolicitudes)">
              <div class="row">
                <div class="col-md-2">
                    <div class="form-group">
                        <!--<label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">tipoSello</font></font></label>
                        <input [(ngModel)]=item.tiposello name="tiposello" type="text" class="form-control" id="exampleInputEmail1" placeholder="campo1">-->
                        <label for="">Tipo de Valvula</label>
                        <select class="custom-select custom-select-lg mb-3"  name="tipovalvula" formControlName="tipovalvula" class="form-control"   required>
                            <option value="" disabled selected>Open</option>
                            <option value="seguridad y alivio">Seguridad</option>
                            <option value="seguridad y alivio">Alivio</option>
                            <option value="manuales">Manuales</option>
                            <option value="control">Control</option>
                            <option value="corte on/of">Corte On/Of</option>
                          </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <!--<label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">TipoValvula</font></font></label>
                        <input [(ngModel)]=item.tipovalvula name="tipovalvula" type="text" class="form-control" id="exampleInputEmail1" placeholder="Campo2">-->
                        <label for="">Tipo de Sello</label>
                        <select class="custom-select custom-select-lg mb-3"  name="tiposello" formControlName="tiposello"  class="form-control"required>
                          <option value="" disabled selected>Open</option>
                          <option value="compuerta">Compuerta</option>
                          <option value="globo">Globo</option>
                          <option value="mariposa">Mariposa</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Diametro</label>
                        <select class="custom-select custom-select-lg mb-3"  name="diametro" formControlName="diametro" class="form-control"  required>
                          <option value="" disabled selected>Selecciona</option>
                          <option value="1/2 - 3/4">1/2" hasta 3/4"</option>
                          <option value="1 - 1 1/2">1" hasta 1 1/2"</option>
                          <option value="2 - 3">2" hasta 3"</option>
                          <option value="4 - 5">4" hasta 5"</option>
                          <option value="6">6"</option>
                          <option value="8">8"</option>|
                          <option value="10">10"</option>
                          <option value="12">12"</option>
                          <option value="16">16"</option>
                          <option value="20">20"</option>
                          <option value="24">24"</option>
                          <option value="30">30"</option>
                          <option value="36">36"</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Rating</label>
                        <select class="custom-select custom-select-lg mb-3"  name="rating" formControlName="rating" class="form-control"required>
                            <option value="" disabled selected>Selecciona</option>
                            <option value="Roscado">Roscado</option>
                            <option value="150#/300#">150#/300#</option>
                            <option value="600#">600#</option>
                            <option value="900#">900#</option>
                            <option value="1500#">1500#</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                      <div class="form-group">
                          <label for="">Material</label>
                          <select class="custom-select custom-select-lg mb-3"  name="material" formControlName="material" class="form-control"  required>
                              <option value="" disabled selected>Selecciona</option>
                              <option value="Cuerpo AC">Cuerpo AC</option>
                              <option value="Cuerpo SS">Cuerpo SS</option>
                          </select>  
                      </div>
                    </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Otros Datos</label>
                        <select class="custom-select custom-select-lg mb-3" multiple name="otrosdatos" formControlName="otrosdatos" class="form-control"  required>
                            <option value="" disabled selected>Selecciona</option>
                            <option value="Solenoide">Solenoide</option>
                            <option value="ZSC/Z50">ZSC/Z50</option>
                            <option value="ZT">ZT</option>
                        </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Tipo de Mantenimiento</label>
                        <select class="custom-select custom-select-lg mb-3"  name="tipomtto" formControlName="tipomtto" class="form-control"  required>
                          <option value="" disabled selected>Selecciona</option>
                          <option value="Basico">Basico</option>
                          <option value="Completo">Completo</option>
                          <option value="Especial">Especial</option>
                       </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Grado de Prioridad</label>
                        <select class="custom-select custom-select-lg mb-3"  name="prioridad" formControlName="prioridad" class="form-control"  required>
                          <option value="" disabled selected>Selecciona</option>
                          <option value="Normal">Normal(9 Horas)</option>
                          <option value="Extendido">Extendido(24 Horas)</option>
                       </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                      <label for="">Grado de Dificultad</label>
                      <select class="custom-select custom-select-lg mb-3"  name="dificultad" formControlName="dificultad" class="form-control" required>
                          <option value="" disabled selected>Selecciona</option>
                          <option value="Normal">Normal</option>
                          <option value="Altura">Altura</option>
                          <option value="espacios Confinados">espacios Confinados</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Sitio de Trabajo</label>
                        <select class="custom-select custom-select-lg mb-3"  name="sitio" formControlName="sitio" class="form-control"  required>
                          <option value="" disabled selected>Selecciona</option>
                          <option value="Planta Cliente">Planta Cliente</option>
                          <option value="Taller CDI S.A">Taller CDI S.A</option>
                       </select>
                    </div>
                  </div>
                  <div class="col-md-2">
                    <div class="form-group">
                        <label for="">Cantidad</label>
                        <input type="number" [(ngModel)]="calcantidad"  name="cantidad" formControlName="cantidad"  class="form-control" >
                    </div>
                  </div>
                  <div class="col-md-2">

                  </div>                   
              </div>
              
              <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Enviar</font></font></button>
              <button type="submit" class="btn btn-inverse waves-effect waves-light"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cancelar</font></font></button>
             
             
          </form>
      </div>
  </div>
  <br>
  <div class="row">
      <div class="col-md-12" style="text-align: center"> 
          <div class="form-group">
              <div class="row">
                <div class="col-12">
                  <div class="card">
                  <div class="card-body">
                     <strong class="">
                      <h5> Valor de la Solicitud</h5>
                     </strong>
                     <p>{{datosTotalValor/1000 | currency:'USD':true:'1.3-3'}}</p>
                     <button id="myModal"  data-toggle="modal" data-target=".bd-example-modal-lg" type="button" class="btn btn-success btn-circle btn-xl"><i class="fa fa-eye"></i> </button>
                  </div>
                  </div>
                </div>
              </div>
            </div>
      </div>
  </div>
  <div class="col-md-12">
    
      <table class="table table-hover">
        <thead>
          <tr>
            <th  style="text-align: center">#Consecutivo</th>
            <th  style="text-align: center">Resumen</th>
            <th  style="text-align: center">Cantidad</th>
            <th  style="text-align: center">Valor</th>
            <th  style="text-align: center">Total</th>
            
            <td  style="text-align: center">Eliminar</td>
          </tr>
        </thead>
        <tbody>
        
          <tr  *ngFor="let valvula of valvulas; let i = index">
            <td>
                {{i}}
            </td>
            <td  style="text-align: left">{{valvula.tipovalvula}}-{{valvula.tiposello}}-({{valvula.diametro}})
              -{{valvula.material}}- Mto: {{valvula.tipomtto}}-Prioridad:{{valvula.prioridad}}-Deficult:({{valvula.dificultad}})  </td>
            <td>{{valvula.cantidad}}</td>
            <td>{{valvula.valor/1000 | currency:'USD':true:'1.3-3'}}</td>
            <td>{{valvula.valor*valvula.cantidad/1000 | currency:'USD':true:'1.3-3'}}</td>
            <td><button (click)="borrarvalvula(i)" type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> </button></td>   
          </tr>
        </tbody>
      </table>
    
     <div class="centro modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="centro modal-dialog modal-lg">
          <div class="cotizacion centro  modal-content cotizacionmodal">
            <div class="row">
              <div class="col-md-4">
                <h1>Logo</h1>
                <h4>Nit: 800.241.849-1</h4>
                <h5>CDI S.A</h5>
                <h6>Bellavista Cra 56b No 7a-45</h6>
              </div>
              <div class="col-md-4">
                  <h2><strong>Cotizacion</strong></h2>
                  <h3>No: 8798999</h3>
                 
              </div>
              <div class="col-md-4">
                  <h2><strong>Cliente</strong></h2>
                  <h3>Yara</h3>
                  <h5>Kilometro 19 Mamomal</h5>
                  <h6>Telefono: 665 12 45</h6>
                 
              </div>
            </div>
            
            <br>
            
            <div class="row margercot">
              <div class="col-md-11">
                <ol>
                <table class="table table-hover ">
                  <thead>
                    <th>Consecutivo</th>
                    <th>Equipo</th>
                    <th>Cantidad</th>
                    <th>Valor Unitario</th>
                    <th>Valor Totoal</th>
                    <th>HH</th>
                  </thead>
                  
                  <tbody>
                    <tr *ngFor="let valvula of valvulas">
                      <td><p><li></li></p></td>
                      <td>{{valvula.tipovalvula}}-{{valvula.tiposello}}-({{valvula.diametro}})
                          -{{valvula.material}}- Mto: {{valvula.tipomtto}}-Prioridad:{{valvula.prioridad}}-Deficult:({{valvula.dificultad}})  </td>
                      <td>{{valvula.cantidad}}</td>
                      <td>{{valvula.valor/1000 | currency:'USD':true:'1.3-3'}}</td>  
                      <td>{{valvula.valor*valvula.cantidad/1000 | currency:'USD':true:'1.3-3'}}</td>
                      <td>Calculando</td>
                      
                    </tr>
                  </tbody>
                </table>
                </ol>
              </div>
            </div>
            <div class="row margercot">
              <div class="col-md-11">
                <div class="row">
                  <div class="col-md-4"></div>
                  <div class="col-md-4"></div>
                  <div class="col-md-4">
                    <table class="table">
                      <thead>
                        <th></th>
                        <th></th>
                      </thead>
                      <tbody>
                        <tr>
                          <th><strong>Subtotal</strong></th>
                          <td>{{subtotal/1000 | currency:'USD':true:'1.3-3'}}</td>
                        </tr>
                        <tr>
                          <th><strong>Iva</strong></th>
                          <td>${{iva/1000 | currency:'USD':true:'1.3-3'}}</td>
                        </tr>
                        <tr>
                          <th><strong>Total</strong></th>
                          <td>{{datosTotalValor/1000 | currency:'USD':true:'1.3-3'}}</td>
                        </tr>
                        
                      </tbody>
       
                    </table>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-11">
                <p>Por la cual se adoptan sistemas tecnicos de control de facturacion, se modifica el numeral 1 del articulo 11 de la Resolucion 0019 de 2016 y se establecen otras disposiciones.</p>
              </div>
            </div>
            
          </div>
        </div>
      </div>

    
     
<!--fin del modal-->
    </div>
</div>