<div *ngIf="generar==false" class="row" >
  <div class="col-lg-12 col-md-12 col-lg-12">
    <h2>Generar Equipos Para Mantenimiento</h2>
    <button (click)="generandoMantenimientos()" type="button" class="btn waves-effect waves-light btn-success">
      <font style="vertical-align: inherit;">
        <font style="vertical-align: inherit;">Generar</font>
      </font>
    </button>
  </div>
</div>
<div class="row" *ngIf="generar==true">
    <h2>Equipos</h2>
    <div class="col-md-12">
      <table class="table table-hover">
        <thead>
          <tr>
            <th  style="text-align: center">#</th>
            <th  style="text-align: center">Serie</th>
            <th  style="text-align: center">Resumen</th>
            <th  style="text-align: center">Valor U</th>   
            <th  style="text-align: center">Mtto</th>
          </tr>
        </thead>
        <tbody>
                <tr  *ngFor="let mtto of mantenimientos; let i = index">
                  <td>
                      {{i}}
                  </td>
                  <td class="centrado2">
                    <p class="alerta" *ngIf="mtto.serie.length < 1 ">Agregar Serial &nbsp;
                      <button  (click)="obtenerIndexValvula(i, mtto._id)" type="button" data-toggle="modal" data-target="#elmodal" class="btn btn-info btn-circle btn-xs"><i class="fa fa-plus"></i> </button>
                    </p>
                    {{mtto.serie}}   
                  </td>
                  <td class="tamano" style="text-align: left">Valvula de {{mtto.tipovalvula.nombre}}-{{mtto.tiposello}}-({{mtto.diametro}})
                    -{{mtto.material}}- Mto: {{mtto.tipomtto}}-Prioridad:{{mtto.prioridad}}-Deficult:({{mtto.dificultad}})</td>
                  <td class="tamano centrado2">{{mtto.valor/1000 | currency:'':true:'1.3-3'}}</td>
                  <td class="centrado3">
                    <button *ngIf="mtto.serie.length > 1 " [routerLink]="['/mantenimientos', mtto._id]"  type="button" class="btn btn-primary"><i class=" fa-spin fa fa-cog "></i></button>
                    <button *ngIf="mtto.serie.length < 1 "  type="button" (click)="noSerie()" class="btn btn-primary"><i class="fa fa-cog "></i></button>
                  </td>  
                </tr>
            </table>
    </div>
  </div>
  <!-- Modal para agregar serial -->
  <div class="modal fade" id="elmodal" tabindex="-1" role="dialog" aria-labelledby="elmodal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="centrado">
          <h5 class="centrado">Gestion de Series</h5>
        </div>
        <div class="modal-body">
          <form ngNativeValidate class="centrado2"  [formGroup]="form" #serieValvulaf="ngForm" (ngSubmit)="guardarSerie(form, serieValvulaf)">
              <div class="form-group centrado2">
                  <label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Ingresar Serial del equipo</font></font></label>
                  <input minlength = 2 type="text" name="serieValvula" formControlName="serieValvula" class="form-control" required >
              </div>
              <br>
              <button type="submit" class="btn btn-primary">Guardar</button>
          </form>
        </div>

      </div>
    </div>
  </div>



