<div class="container">
  <div class="row espacios">
      <div class="col-lg-6 col-md-6 col-sx-12 ">
        <button type="button" [routerLink]="['/usuarios']" class="btn btn-info  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-users fa-4x fa-lg"></i>
          <br><br> Usuario
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12">
        <button type="button" [routerLink]="['/clientes']" class="btn btn-success  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-building fa-4x fa-lg"></i>
          <br><br> Clientes
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12">
        <button type="button" [routerLink]="['/cargos']"  class="btn btn-warning  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-people-carry fa-4x fa-lg"></i>
          <br><br> Cargos
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12">
        <button type="button"  [routerLink]="['/valvulas']"  class="btn btn-danger  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fab fa-linode fa-4x fa-lg"></i>
          <br><br>Valvulas 
        </button>
      </div>
  </div> 
</div>