

  <div class="row animated">
    <div class="col-12">
      <div class="card">
      <div class="card-body">
         <table class="table table-hover table-responsive">
           <thead>
             <tr>
               <th>#</th>
               <th>Cliente</th>
               <th>Nombre</th>
               <th>estado</th>
               <th>Valor</th>
               <th>%</th>
               <th>Gestionar</th>
             </tr>
           </thead>
           <tbody>
             <tr *ngFor="let solicitud of solicitudes; let i = index">
               <td>
                  {{i}}
               </td>
               <td>{{solicitud.cliente.nombre}}</td>
               <td >{{solicitud.nombre}}</td>
               <td >
                  <div class="row">
                    <div class="col-sm-4">
                        <p class="fuente">{{solicitud.estado}}</p>
                    </div>
                    <div class="col-sm-8">
                        <select name="role"  id="estado" [(ngModel)]="estado" class="form-control" (change)="CambiarEstado(solicitud._id, solicitud)">
                            <option selected [value]="solicitud.estado">{{solicitud.estado}}</option>
                            <option value="CREADA">CREADA</option>
                            <option value="ACEPTADA">ACEPTADA</option>
                            <option value="RECHAZADA">RECHAZADA</option>
                          </select>
                    </div>
                  </div>
               </td>
               <td>
                {{solicitud.valorTotal/1000 | currency:'USD':true:'1.3-3'}}
               </td>
               <td>56%</td>
               <td>
                 <button  class="btn btn-primary"> <i class="fa fa-save"></i></button>
                 <button  class="btn btn-danger"> <i class="fa fa-trash-o"></i></button>
               </td>
             </tr>
           </tbody>
         </table>
        

      </div>
      </div>
    </div>
  </div>
