<div class="content">
        <div class="solicitudes row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading solicitud-title">{{title}}</div>
              <div class="panel-body btnCrearSol">
                	<div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body" style="text-align: center">
                            <form #solicitudForm="ngForm"  text-align="center"  (ngSubmit)="crearSolicitud()">
                                <div class="form-group">
                                   
                                </div>

                                <input class="btn btn-success" type="submit"   name="" id="" value="Crear">
                            </form>  
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </div>
          </div>
          <div class="col-md-12" style="text-align:center">
            <ol>
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th>Consecutivo</th>
                  <th>Nombre o numero</th>
                  <th>Editar</th>
                  <th>Eliminar</th>
                  <th>Ver</th>
                </tr>
              </thead>
              <tbody>
                
                <tr  *ngFor="let solicitud of solicitudes">

                  <td><li></li></td>
                  <td>Nombre o numero de la solicitud</td>
                  <td><button [routerLink]="['/solicitudes', solicitud._id]"  type="button" class="btn btn-warning"><i class="fa fa-edit "></i></button></td>
                  <td><button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> </button></td>
                  <td><button id="myModal" type="button" (click)="cotizacion(solicitud)" data-toggle="modal" data-target=".bd-example-modal-lg"  class="btn btn-success"><i class="fa fa-eye"></i> </button></td>
                  
                </tr>
              
              </tbody>
            </table>
          </ol>
          
         
          <!-- Modal -->
          <div class="centro modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
              <div class="centro modal-dialog modal-lg">
                <div class="cotizacion centro  modal-content cotizacionmodal">
                  <h2>cotizacion</h2>
                </div>
              </div>
            </div>

            
           
      <!--fin del modal-->
          </div>
        </div>
      </div>
 
      