<div class="content">
        <div class="solicitudes row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading solicitud-title">{{title}}</div>
              <div class="panel-body btnCrearSol">
                	<div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body">
                            <form #solicitudForm="ngForm"  text-align="center"  (ngSubmit)="crearSolicitud()">
                                <div class="form-group">
                                    <strong><label for="exampleInputEmail1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Indique el Nombre o Indicativo de su Orden</font></font></label></strong>  
                                    <input name="nombre" [(ngModel)]="solicitud.nombre"  type="text" class="form-control" id="exampleInputEmail1" placeholder="Nombre o Indicativo">
                                </div>

                                <input class="btn btn-success" type="submit"   name="" id="" value="Crear">
                            </form>  
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <table class="table table-hover">
              <thead>
                <tr>
                  
                  <th>Identificador</th>
                
                  <td>Editar</td>
                  <td>Eliminar</td>
                </tr>
              </thead>
              <tbody>
                
                <tr  *ngFor="let solicitud of solicitudes">

                  <td>{{solicitud.nombre}}</td>
                 
                  <td><button [routerLink]="['/item', solicitud._id]"  type="button" class="btn btn-warning"><i class="fa fa-edit "></i></button></td>
                  <td><button type="button" class="btn btn-danger"><i class="fa fa-trash-o"></i> </button></td>
                  
                </tr>
              
              </tbody>
            </table>
          </div>
        </div>
      </div>
      