<div class="content">
        <div class="solicitudes row">
          <div class="col-md-12">
            <div class="panel panel-info">
              <div class="panel-heading solicitud-title"></div>
              <div class="panel-body btnCrearSol">
                	<div class="row">
                    <div class="col-12">
                      <div class="card">
                        <div class="card-body" style="text-align: center">
                            <form [formGroup]="form" #solicitudF="ngForm"  text-align="center"  (ngSubmit)="crearSolicitud(form, solicitudF)">
                                
                                    <h3 class="box-title m-b-0"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Creacion de solicitud</font></font></h3>
                                    <div class="row">
                                        <div class="col-sm-12 col-xs-12">
                                          <div class="form-group">
                                            
                                            <input type="text" name="nombresolicitud" formControlName="nombresolicitud" class="form-control" placeholder="Ingrese un nombre o identificacion de su solicitud">
                                          </div>
                                        </div>
                                    </div>
                                

                                <input class="btn btn-success" type="submit"   name="" id="" value="Crear">
                            </form>  
                        </div>
                      </div>
                    </div>
                  </div>                
              </div>
            </div>
          </div>
          <div class="col-md-12" style="text-align:center">
            
            <table class="table table-hover table-responsive">
              <thead>
                <tr style="text-align:center">
                  <th style="text-align:center">Consecutivo</th>
                  <th style="text-align:center">Nombre o numero</th>
                  <th>Valor</th>
                  <th>Estado</th>
                  <th style="text-align:center">Editar</th>
                  <th style="text-align:center">Eliminar</th>
                  
                  
                </tr>
              </thead>
              <tbody>
                
                <tr  *ngFor="let solicitud of solicitudes; let i = index">

                  <td style="text-align:center">{{i}}</td>
                  <td style="text-align:left">{{solicitud.nombre}}</td>
                  <td style="text-align:left">{{solicitud.valorTotal/1000 | currency:'USD':true:'1.3-3'}}</td>
                  <td style="text-align:left">{{solicitud.estado}}</td>
                  <td style="text-align:center">
                    <button [routerLink]="['/solicitudes', solicitud._id]"  type="button" class="btn btn-warning"><i class="fa fa-edit "></i></button>
                  </td>
                  <td style="text-align:center">
                      <button type="button" (click)="eliminarSolicitud(solicitud._id)" class="btn btn-danger"><i class="fa fa-trash-o"></i> </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
 
      