.centrado{
    text-align: center !important;
}
.detenido{
    border: 1px solid #ff4444 !important;
    padding: 5px;   
}
.titleDetenido{
    color:#4285F4 !important;
    font-weight: bold !important;
}