	<div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body centrado">
            <h2>Valvula {{tipovalvula}} - Sello {{tiposello}} | Diametro ({{diametro}})" - Rating {{rating}} | Material {{material}} Otros {{otrosDatos}}</h2>
            <br>
            <br>
          <div class="row">
            <form class="col-lg-12 col-md-12" [formGroup]="form" #obsMtto="ngForm"  text-align="center"  (ngSubmit)="actualizarObservaciones(form, obsMtto)">
              <div class="row">
                  <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Valvula</font></font></label>
                         <input disabled type="text" value='{{tipovalvula}}'  class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Observaciones para el Tipo de Valvula</font></font></label>
                         <input *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " type="text" name="obsTipovalvula" formControlName="obsTipovalvula" [(ngModel)]="obsTipovalvula" class="form-control" >
                         <!--Si ya esta Completado el mtto-->
                         <input *ngIf="estadomtto == 'COMPLETADO'" disabled  type="text" name="obsTipovalvula" formControlName="obsTipovalvula" [(ngModel)]="obsTipovalvula" class="form-control" >
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Serial</font></font></label>
                         <input disabled type="text" value='{{serie}}'  class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Observaciones del Cuerpo</font></font></label>
                         <input *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " type="text" name="obsCuerpo" formControlName="obsCuerpo" [(ngModel)]="obsCuerpo"  class="form-control" >
                         <input type="text" *ngIf="estadomtto == 'COMPLETADO'" disabled  name="obsCuerpo" formControlName="obsCuerpo" [(ngModel)]="obsCuerpo"  class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Otros Componentes</font></font></label>
                         <input disabled type="text"  value='{{otrosDatos}}' class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Observaciones de Componentes</font></font></label>
                         <input type="text"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " name="obsComponentes" formControlName="obsComponentes" [(ngModel)]="obsComponentes" class="form-control">
                         <input type="text"  *ngIf="estadomtto == 'COMPLETADO'" disabled name="obsComponentes" formControlName="obsComponentes" [(ngModel)]="obsComponentes" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Tipo Mantenimiento</font></font></label>
                         <input disabled type="text" value='{{tipoMtto}}'  class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Observaciones de TipoMtto, Prioridad y Ubicacion</font></font></label>
                         <input type="text"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " name="obsTmttoPrioUbi" formControlName="obsTmttoPrioUbi"  [(ngModel)]="obsTmttoPrioUbi" class="form-control">
                         <input type="text"  *ngIf="estadomtto == 'COMPLETADO'" disabled name="obsTmttoPrioUbi" formControlName="obsTmttoPrioUbi"  [(ngModel)]="obsTmttoPrioUbi" class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-3 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Dificultad</font></font></label>
                         <input disabled type="text" value='{{dificultad}}'  class="form-control">
                      </div>
                  </div>
                  <div class="col-lg-9 col-sm-12">
                      <div class="form-group">
                         <label><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Observaciones de la Dificultad</font></font></label>
                         <input type="text"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " name="obsDificultad" formControlName="obsDificultad"  [(ngModel)]="obsDificultad" class="form-control">
                         <input type="text"  *ngIf="estadomtto == 'COMPLETADO'" disabled name="obsDificultad" formControlName="obsDificultad"  [(ngModel)]="obsDificultad" class="form-control">
                      </div>
                  </div>
              </div>
              <button type="submit"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " class="btn btn-primary  btn-block centrado">Guardar Observaciones</button>
              <button type="buttom"  *ngIf="estadomtto == 'COMPLETADO'" disabled class="btn btn-dark  btn-block centrado">Guardar Observaciones</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="card">
        <div class="card-body centrado">
          <h2>Actividades</h2>
          <div class="row" >
            <div class="col-lg-12 col-md-12 col-sm-12">
              <table class="tablesaw table-bordered table-hover table tablesaw-swipe table-responsive">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre Actividad</th>
                    <th>Minutos</th>
                    <th>Estado</th>
                    <th>Fotografia</th>
                    <th>Guardar</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let tarea of tareas; let i = index"> 
                    <td>{{i}}</td>
                    <td>{{tarea.nombre}}</td>
                    <td>
                      <input type="number"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  "class="form-control" [(ngModel)]="tarea.tiempo">
                      <input type="number"  *ngIf="estadomtto == 'COMPLETADO'" disabled class="form-control" [(ngModel)]="tarea.tiempo">  
                    </td>
                    <td>
                      <div class="switch"   *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  ">
                        <label>
                          <input  type="checkbox"  [(ngModel)]="tarea.estado" checked=tarea.estado ><span class="lever switch-col-red"></span>
                        </label>
                      </div>
                      <div class="switch" *ngIf="estadomtto == 'COMPLETADO'">
                        <label>
                          <input  type="checkbox" disabled  [(ngModel)]="tarea.estado" checked=tarea.estado ><span class="lever switch-col-red"></span>
                        </label>
                      </div>
                    </td>
                    <td></td>
                    <td class="centrado3">
                      <button  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " (click)="actualizarEstadoyDatosdelaTarea(tarea, i)" type="button" class="btn btn-primary"><i class="fa fa-save"></i></button>
                      <button  *ngIf="estadomtto == 'COMPLETADO'" disabled type="button" class="btn btn-primary"><i class="fa fa-save"></i></button>
                    </td>
                    
                  </tr>
                </tbody>
              </table>
              <br>
              <br>
              <div class="form-group">
                  <h4 style="font-weight: bold">Estado del Mantenimiento</h4>
                  <select  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  "  class="custom-select custom-select-lg mb-3" [(ngModel)]="mantEstado"  class="form-control"   required>
                    <option value="COMPLETADO">COMPLETADO</option>
                    <option value="DETENIDO">DETENIDO</option>
                    <option value="EJECUCION">EJECUCION</option>
                  </select>
                  <select *ngIf="estadomtto == 'COMPLETADO'" disabled  class="custom-select custom-select-lg mb-3" [(ngModel)]="mantEstado"  class="form-control"   required>
                      <option value="COMPLETADO">COMPLETADO</option>
                      <option value="DETENIDO">DETENIDO</option>
                      <option value="EJECUCION">EJECUCION</option>
                    </select>
                  <br>
                  <br>
                  <div *ngIf="mantEstado =='DETENIDO'" class="detenido">
                      <div class="form-group">
                          <h4 class="titleDetenido">Razon por la Cual el mantenimiento esta Detenido</h4>
                          <textarea type="text" name="obsEstado"  [(ngModel)]="obsEstado" class="form-control"></textarea>
                        </div>
                  </div>
                  <br>
                  <button type="button"  *ngIf="estadomtto == 'DETENIDO' || estadomtto == 'EJECUCION' || estadomtto == 'INICIAL'  " (click)="ActualizarEstadoMtto()" class="btn btn-danger btn-block centrado">Guardar Mantenimiento</button>
                  <button type="button"  *ngIf="estadomtto == 'COMPLETADO'" disabled class="btn btn-dark btn-block centrado">Guardar Mantenimiento</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>