<div class="container">
  <div class="row espacios">
      <div class="col-lg-4 col-md-4">
        <button type="button" style="background: #ffbb33;" class="btn btn-primary  tamanoBotones">Abiertas</button>
      </div>
      <div class="col-lg-4 col-md-4">
          <button type="button" style="background: #2E2E2E;" class="btn btn-primary tamanoBotones">Cerradas</button>
      </div>
      <div class="col-lg-4 col-md-4">
          <button type="button" style="background: #4285F4;" class="btn btn-primary tamanoBotones">Aceptadas</button>
      </div>
  </div>
  <div class="row espacios">
    <div class="col-lg-4 col-md-4">
        <button type="button" style="background: #ff4444;" class="btn btn-primary tamanoBotones">Rechazadas</button>
    </div>
     <div class="col-lg-4 col-md-4">
        <button type="button" style="background: #9933CC;" class="btn btn-primary tamanoBotones">Ejecucion</button>
    </div>
    <div class="col-lg-4 col-md-4">
          <button type="button" style="background: #5d4037;" class="btn btn-primary tamanoBotones">Espera</button>
    </div>
  </div>
  <div class="row espacios">
    <div class="col-lg-4 col-md-4">
      
    </div>
    <div class="col-lg-4 col-md-4">
      <button type="button" style="background: #00C851;" class="btn btn-primary tamanoBotones">Completadas</button>
    </div>
    <div class="col-lg-4 col-md-4">
      
    </div>  
  </div>
  
</div>