<div class="container">
  <div class="row espacios">
      <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button"  class="btn btn-warning  tamanoBotones efectoBotones1 efectoBotones2">Abiertas</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
          <button type="button"  class="btn btn-dark tamanoBotones efectoBotones1 efectoBotones2 ">Cerradas</button>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4">
          <button type="button"  class="btn btn-primary tamanoBotones efectoBotones1 efectoBotones2 ">Aceptadas</button>
      </div>
  </div>
  <div class="row espacios">
    <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button" class="btn btn-danger tamanoBotones efectoBotones1 efectoBotones2 ">Rechazadas</button>
    </div>
     <div class="col-lg-4 col-md-4 col-sm-4">
        <button type="button"  class="btn tamanoBotones efectoBotones1 efectoBotones2 ">Ejecucion</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <button type="button"  class="btn btn-info tamanoBotones efectoBotones1 efectoBotones2 ">Espera</button>
    </div>
  </div>
  <div class="row espacios">
    <div class="col-lg-4 col-md-4 col-sm-12">
      
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12" text-center>
      <button type="button" style="background: #00C851;" class="btn btn-primary borde tamanoBotones efectoBotones efectoBotones2 blanco">Completadas</button>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
      
    </div>  
  </div>
  
</div>