<div class="container">
  <div class="row espacios">
      <div class="col-lg-6 col-md-6 col-sx-12 ">
        <button type="button" [routerLink]="['/aceptacion']" class="btn btn-info  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-check fa-4x fa-lg"></i>&nbsp;<i class="fas fa-ban fa-4x fa-lg icono"></i>
          <br><br> Ok / Reject
        </button>
      </div>
      <div class="col-lg-6 col-md-6 col-sx-12">
        <button type="button" [routerLink]="['/ordenes']" class="btn btn-success  tamanoBotones btn-block efectoBotones1 efectoBotones2">
          <i class="fas fa-briefcase fa-4x fa-lg"></i>
          <br><br> Gestion
        </button>
      </div>
     


  </div> 
</div>